@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(45deg, rgb(197, 116, 252), rgb(198, 149, 226));
}
.box{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 70px;
    border-radius: 15px;
    
}
.inputbox{
    position: relative;
    background-color: none;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(197, 116, 252);
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelinput{
    position: relative;
    top: -25px;
    left: -0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelinput,
.inputUser:valid ~ .labelinput{
    top: -45px;
    font-size: 13px;
    color: rgb(197, 116, 252);
}
#data_nascimento{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}
#submit{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(197, 116, 252);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
#submit:hover{
    background-color: rgb(140, 75, 184);
}
#radio input{
    display: none;
}
.sx:before{
    content: "";
    display: inline-block;

    width: 13px;
    height: 13px;
    border-radius:50%;

    background-color: rgb(197, 116, 252);
    
}
input:checked + .sx:before {
    content: "\2022";
    color: #000;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    padding: 0.5px;   
}
.state{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    background: none;
    background-color: rgba(0, 0, 0, 0.301);
    border: none;
    border-bottom: 1px solid rgb(197, 116, 252);
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px inset;
    background-color: none;
    outline: none;
    border-radius: 10px;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
h1{
    text-align: center;
}