<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 column">

          <li class="nav-item">
            <div class="flex row center">
              <% if (user) { %>
                <a class="nav-link mb-0">Bem vindo, <%= user.name %> </a>  
            <% } else { %>
                <a class="nav-link active mb-0" href="/login/index">Sou um colunista</a>
            <% } %>
            </div>
          </li>
          <% if (user) { %>
            <li class="nav-item">
              <div class="flex row center">
                <a class="nav-link active mb-0" href="/login/logout">Deslogar</a>
              </div>
            </li>
          <li class="nav-item">
            <div class="flex row center">
                <a class="nav-link active mb-0" aria-current="page" id="infoFlex" href="/publicar/index">Publicar</a>
            </div>
          </li>
          
          <% if (user.adm) { %>
            <li class="nav-item">
              <div class="flex row center">
                  <a class="nav-link active mb-0" aria-current="page" id="cadastroColunista" href="/login/register">Cadastrar colunista</a>
              </div>
            </li>
          <% } %>
          
          <% } %>
             
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mb-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>