<%- include('includes/head') %>
<%- include('includes/nav') %>

<section class="carousel">
  <div class="carousel__slider flex">
    <ul class="carousel__list">     
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="positive">5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="negative">-5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="positive">5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="negative">-5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="positive">5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="negative">-5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="positive">5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="negative">-5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="positive">5%</span>
      </li>
      <li class="carousel__item">
        <span>PBT4</span>
        <span>R$25,50</span>
        <span class="negative">-5%</span>
      </li>
      
    </ul>
  </div>
</section>

    <div class="container flex">

      <section class="news">
        <a href="###">
          <article class="news-article">
            <div class="news-img">
              *imagem*
            </div>
            <div class="news-main">
              <h2 class="news-text">
                  Bovespa fecha em alta impulsionada por Petrobras e com suporte  de NY
              </h2>
              <p class="news-text-2">
                O principal índice de ações da bolsa brasileira subiu 0,54%, a 118.862 pontos.
              </p>
            </div>
          </article>
        </a>
      </section>  
    </div>
    <%- include('includes/footer') %>