<%- include('includes/head') %>
<%- include('includes/nav') %>

  <div class="carrocel-acoes flex center">
    <img class="temporario-carrocel" src="./assets/img/temporarioCarrocel.png">
  </div>
    <div class="container flex">
      <section class="news">
        <a href="###">
          <article class="news-article">
            <div class="news-img">
              *imagem*
            </div>
            <div class="news-main">
              <h2 class="news-text">
                  Bovespa fecha em alta impulsionada por Petrobras e com suporte  de NY
              </h2>
              <p class="news-text-2">
                O principal índice de ações da bolsa brasileira subiu 0,54%, a 118.862 pontos.
              </p>
            </div>
          </article>
        </a>
      </section>  
    </div>
    <%- include('includes/footer') %>