<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container" id="publicar">
    
</div>
<h1 class="teste">VOCE ESTÁ NA PÁGINA DE PUBLICACAO</h1>
<%- include('includes/footer') %>
